<hr />
<br />
<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="continer mb-4">
        <div class="row">
          <tabset #accountTabset>
            <tab heading="Matched" [active]="true">
              <app-view-rtgs-matched
                *ngIf="accountTabset.tabs[0]?.active"
              ></app-view-rtgs-matched>
            </tab>
           <!-- <tab heading="unmatched">
              <app-view-rtgs-unmatched
                *ngIf="accountTabset.tabs[1]?.active"
              ></app-view-rtgs-unmatched>
            </tab>
            <tab heading="partially matched ">
              <app-view-rtgs-partially-matched
                *ngIf="accountTabset.tabs[2]?.active"
              ></app-view-rtgs-partially-matched>
            </tab>
             -->
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
