.leftside-menu-header-h1{
    /* background-color: white; */
    color: white;
    text-align: center;
    font-size: 16px;
}
.leftside-menu-header-h1 :hover{
    /* background-color: white; */
    color: white;
}
 /*
@media (max-width: 1090px) {  
    .side-items {
        background-color:#f00 !important; 
      display: none;
    }
  }
  @media (max-width: 510px) {  
    .side-items {
        background-color:#f00 !important; 
      display: none;
    }
}
*/