
  p {
    font-family: Lato;
  }

  #go-to-top-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
  }
#go-to-top-icon{
    padding-top: 3px;   
}