<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5" style="
background-image: url(/assets/template_assets/images/bg-pattern-light.svg);
background-size: cover;
background-position: center;

height: 100vh !important;
display: flex;
align-items: center;
justify-content: center;
min-width: 100% !important;
">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-3 fw-bold">Hi ! {{user_name}} <span
                                    class="text-muted" style="font-weight: 400; font-size: 15px;">Welcome.</span></h4>

                        </div>
                        <div class="text-center w-75 m-auto">
                            <h4 class="text-blue-50 text-center mt-0 fw-bold">Change your Password</h4>
                        </div>

                        <div class="alert alert-danger d-none" role="alert" id="incorrect-password-message">
                            <h4 class="alert-heading">Error!</h4>
                            <p>Incorrect password.</p>
                        </div>

                        <div class="alert alert-danger d-none" role="alert" id="password-mismatch-message">
                            <h4 class="alert-heading">Error!</h4>
                            <p>Password does not match.</p>
                        </div>

                        <form action="#" [formGroup]="passwordResetForm" (submit)="resetPassword()" autocomplete="off">
                            <div class="mb-3">
                                <label for="old-password" class="form-label">Old password</label>
                                <input class="form-control" type="password" id="old-password" required=""
                                    autocomplete="new-phone" formControlName="oldpassword" placeholder="Old password">
                                <div class="valid-feedback"
                                    *ngIf="submitted && passwordResetForm.controls['oldpassword'].valid">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="submitted && passwordResetForm.controls['oldpassword'].errors?.['required']">
                                    Please enter password.
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="submitted && passwordResetForm.controls['oldpassword'].errors?.['minlength']">
                                    At least 8 Characters.
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="submitted && passwordResetForm.controls['oldpassword'].errors?.['maxlength']">
                                    At most 20 Characters.
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="password" class="form-label">New password</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" class="form-control" autocomplete="off"
                                            formControlName="newpassword" placeholder="New password">
                                        <div class="input-group-text" data-password="true" id="pass-eye-change">
                                            <span class="password-eye"></span>
                                        </div>
                                        <div class="valid-feedback"
                                            *ngIf="submitted && passwordResetForm.controls['newpassword'].valid">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="submitted && passwordResetForm.controls['newpassword'].errors?.['required']">
                                            Please enter password.
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="submitted && passwordResetForm.controls['newpassword'].errors?.['minlength']">
                                            At least 8 Characters.
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="submitted && passwordResetForm.controls['newpassword'].errors?.['maxlength']">
                                            At most 20 Characters.
                                        </div>
                                        <div class="invalid-feedback" *ngIf="submitted && passwordResetForm.controls['newpassword'].errors?.['passwordStrength'] && 
                                                !passwordResetForm.controls['newpassword'].errors?.['minlength'] && 
                                                !passwordResetForm.controls['newpassword'].errors?.['maxlength']">
                                            Your password must have lower case, upper case and numeric characters.
                                        </div>
                                        <div class="invalid-feedback" *ngIf="submitted && passwordResetForm.controls['newpassword'].errors?.['match'] && 
                                        !passwordResetForm.controls['newpassword'].errors?.['minlength'] && 
                                        !passwordResetForm.controls['newpassword'].errors?.['maxlength']">
                                   your new  Password can't be similar with old password.
                                </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="example-password" class="form-label">Confirm Password </label>
                                    <div class="input-group">
                                        <input type="password" id="example-password" class="form-control"
                                            formControlName="confirmpassword" value="password" autocomplete="off"
                                            placeholder="Confirm Password">
                                        <div class="valid-feedback"
                                            *ngIf="submitted && passwordResetForm.controls['confirmpassword'].valid">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="submitted && passwordResetForm.controls['confirmpassword'].errors?.['required']">
                                            Please confirm your password.
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="submitted && passwordResetForm.controls['confirmpassword'].errors?.['minlength']">
                                            At least 8 characters.
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="submitted && passwordResetForm.controls['confirmpassword'].errors?.['maxlength']">
                                            At most 20 characters.
                                        </div><br>
                                        <div class="invalid-feedback" *ngIf="submitted && passwordResetForm.controls['confirmpassword'].errors?.['mismatch'] && 
                                                !passwordResetForm.controls['confirmpassword'].errors?.['minlength'] && 
                                                !passwordResetForm.controls['confirmpassword'].errors?.['maxlength']">
                                            Password mismatch.
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="mb-0 text-center">
                                <button class="btn btn-primary" type="submit">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<swal
  #SwalSessionExpired
  title="Warning"
  text="Your session has expired! please login to continue."
  icon="warning"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="3500"
  [focusCancel]="true"
>
</swal>