
<div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="mb-4">
          <div class="row">
            <tabset #accountTabset>
              <tab heading="Matched" [active]="true">
                <app-payable-matched *ngIf="accountTabset.tabs[0]?.active"></app-payable-matched>
              </tab>
              <tab heading="unmatched">
                <app-payable-unmatch *ngIf="accountTabset.tabs[1]?.active"></app-payable-unmatch>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>