<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <app-navigator-upper></app-navigator-upper>
      <h4 class="page-title">View Account Requests</h4>
      <div class="card">
        <div class="card-body">
          <!-- <h4 class="header-title">Accounts</h4> -->
          <div class="continer mb-4">
            <div class="row">
              <tabset #accountTabset>
                <tab heading="All"  [active] = "true">
                  <app-all-accounts *ngIf="accountTabset.tabs[0]?.active"></app-all-accounts>
                </tab>
                <tab heading="Approved">
                  <app-approved-accounts *ngIf="accountTabset.tabs[1]?.active"></app-approved-accounts>
                </tab>
                <tab heading="pending">
                <app-pending-accounts *ngIf="accountTabset.tabs[2]?.active"></app-pending-accounts>
                  </tab>
                  <tab heading="Rejected">
                    <app-rejected-accounts *ngIf="accountTabset.tabs[3]?.active"></app-rejected-accounts>

                  </tab>
               </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<swal
  #SwalSessionExpired
  title="Warning"
  text="Your session has expired! please login to continue."
  icon="warning"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [timer]="3500"
  [focusCancel]="true"
>
</swal>